<!DOCTYPE html>
<html lang={{ locale()|default("en-US") }}>
<head>
    <meta charset={{ charset|default("UTF-8") }}>
    <title>{{ title }}</title>
</head>
<body style="margin:0;padding:1rem;font-family:'Helvetica Neue','Helvetica','Arial','sans-serif';
    font-size:16px;line-height:1.25rem;">
{% block body %}{% endblock %}
</body>
</html>
