{% extends "common.html.twig" %}

{% block body %}
    <div>
        {# Salutation #}
        <p>
            {{ "Dear Sales Team,"|translate }}
        </p>

        {# Content #}
        <p>
            {% if client.getIsLead %}
                {{ "The following Client Lead has been invited to use your UCRM."|translate }}
            {% else %}
                {{ "The following Client has been invited to use your UCRM."|translate }}
            {% endif %}
        </p>

        {# Client #}
        {% include "_partials/client.html.twig" %}

        {# Map #}
        {% include "_partials/map.html.twig" %}
    </div>
{% endblock %}